<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">

    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <nav>
        <ul>
            <% if(!isAuthenticated) { %>
                <li><a href="/login/">Log IN</a></li>
            <% } else { %>
                <p>username: <%= user.nickname %></p>
                <li><a href="/logout/">Log OUT</a></li>
            <% } %>
        </ul>
    </nav>

    <% if (isAuthenticated) { %>

  <% if (!isActive && kolo) { %>
    <div class="lottoInfo">
      <p>Posljednje završeno kolo: <b><%= kolo.broj_kola %></b></p>
      <p>Izvučeni brojevi:</p>
      <p class="drawn_numbers"><%= kolo.izvuceni_brojevi %></p>
    </div>
  <% } else if (isActive) { %>
    <div class="lottoInfo">
      <p>Trenutno postoji aktivno kolo i uplate su omogućene!</p>
    </div>    
  <% } %>

  <% if (array.length > 0) { %>
    <div class="userInfo">
      <p>
        <% if (isActive) { %>
          Vaši uplaćeni listići za aktivno kolo:
        <% } else { %>
          Vaši listići za posljednje završeno kolo:
        <% } %>
      </p>

      <div class="tickets">
        <% array.forEach(ticket => { %>
          <div class="ticket">
            <p>Uplaćeni brojevi:</p>
            <p class="ticket_numbers"><%= ticket.uplaceni_brojevi %></p>
          </div>
        <% }); %>
      </div>
    </div>
  <% } else if (isAuthenticated && isActive) { %>
    <p>Još niste uplatili nijedan listić za ovo kolo.</p>
  <% } %>

  <% if (isActive) { %>
    <a href="/uplata">
      <button type="button">Uplati listić</button>
    </a>
  <% } %>

<% } %>

        

</body>
</html>