<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <nav>
        <ul>
            <% if(!isAuthenticated) { %>
                <li><a href="/login/">Log IN</a></li>
            <% } else { %>
                <%= user.nickname %>
                <li><a href="/logout/">Log OUT</a></li>
            <% } %>
        </ul>
    </nav>

    


    <% if(isAuthenticated) { %>

        <% if(!isActive) { %>
            <div class="lottoInfo">
                <p>Izvučeni brojevi u trenutnom kolu</p>
                <p><%= //kolo.zadnje_kolo.izvuceni_brojevi %></p>
            </div>
        <% } else { %>  
            <div class="lottoInfo">
                <p>Trenutno postoji aktivno kolo i uplate su omogućene!</p>
            </div>    
        <% } %>
         
        
        <% if(isActive) { %>
            <div class="userInfo">
                <p>Uplaćeni listići</p>
                <div class="tickets">
                    <% array.forEach(ticket => { %>
                        <div class="ticket">
                            <p>Uplaćeni brojevi:</p>
                            <p class="ticket_numbers"><%= ticket.uplaceni_brojevi %></p>
                        </div>
                    <% }); %>
                </div>

                <a href="/uplata">
                    <button type="button">Uplati listić</button>
                </a>
            </div>
        <% } %>

    <% } %>
        

</body>
</html>